extends layout

block content
	h2#title Here are your route details:
	table(align='center', style='width:80%; border:1px solid black')
		tr
			td(colspan="2")
				h3 <b>#{routedetails.depart_city} - Schiphol Airport, Amsterdam</b>
			td(colspan="2")
				h3 Date: #{routedetails.date}			
		tr
			td(style='width:20%') Pickup points
			td(style='width:40%; color: #255fe4') #{routedetails.depart_city}
				img.startpoint-icon(src='/images/start_icon.png')
			td(style='width:20%') #{routedetails.time}
			td(style='width:20%') #{routedetails.price_from_depart} € / passenger
		if routedetails.pickup_point1
			tr
				td 
				td#pickups(style='color: #255fe4') #{routedetails.pickup_point1}
					img.pickup-icon(src='/images/pickup_icon.png')
				td #{routedetails.pickup_point1_time}
				td #{routedetails.price_from_p1} € / passenger
		if routedetails.pickup_point2
			tr
				td 
				td#pickups(style='color: #255fe4') #{routedetails.pickup_point2}
					img.pickup-icon(src='/images/pickup_icon.png')
				td #{routedetails.pickup_point2_time}
				td #{routedetails.price_from_p2} € / passenger
		if routedetails.pickup_point3
			tr
				td
				td#pickups(style='color: #255fe4') #{routedetails.pickup_point3}
					img.pickup-icon(src='/images/pickup_icon.png')
				td #{routedetails.pickup_point3_time}
				td #{routedetails.price_from_p3} € / passenger
		tr
			td Drop-off point
			td(style='color: #255fe4') Schiphol Airport, Amsterdam
				img.startpoint-icon(src='/images/start_icon.png')
			td #{routedetails.drop_off_time}
			td
		tr
			td Your car's details
			td #{routedetails.car_type}
		tr
			td Available seats: 
			td #{routedetails.available_seats}

	//- .container(data-route=routedetails)
	//- 	.RideDetails.trip-container
	//- 		.u-table
	//- 			.u-cell.u-alignTop
	//- 				span.RideName-mainTrip <b>#{routedetails.depart_city} - Schiphol Airport, Amsterdam</b>
	//- 			.u-cell.u-alignRight.u-alignTop
	//- 				.RideDetails-publicationInfo.u-table
	//- 					span.u-cell Offer posted: #{routedetails.createdAt.toString().substring(0,16)}
	//- 		.row
	//- 			.span8 
	//- 				.RideDetails.block.block--standalone
	//- 					.RideDetails-info.u-clearfix
	//- 						span.RideDetails-infoLabel Pick up points
	//- 						span.RideDetails-infoValue
	//- 							i.RideDetails-infoIcon.u-green(style='aria-hidden:true')
	//- 							span #{routedetails.depart_city}
	//- 							if routedetails.pickup_point1
	//- 								br
	//- 								span #{routedetails.pickup_point1}
	//- 									span #{routedetails.pickup_point1_time}
	//- 							if routedetails.pickup_point2
	//- 								br
	//- 								span #{routedetails.pickup_point2}
	//- 									span #{routedetails.pickup_point2_time}
	//- 							if routedetails.pickup_point3
	//- 								br
	//- 								span #{routedetails.pickup_point3}
	//- 									span #{routedetails.pickup_point3_time}
	//- 					br
	//- 					.RideDetails-info.u-clearfix
	//- 						span.RideDetails-infoLabel Drop off point
	//- 						span.RideDetails-infoValue
	//- 							i.RideDetails-infoIcon.u-red(style='aria-hidden:true')
	//- 							span Schiphol Airport, Amsterdam
	//- 								span #{routedetails.drop_off_time}
	//- 					br
	//- 					.RideDetails-info.u-clearfix
	//- 						span.RideDetails-infoLabel Date
	//- 						strong.RideDetails-infoValue
	//- 							span #{routedetails.date} - #{routedetails.time}
	//- 				table.table.table-bordered.table-basic.table-route.full-passengers
	//- 					caption
	//- 						h2.size20 Schedule and ride group
	//- 					thead
	//- 						tr
	//- 							th.no-radius.trip-row(scope='col')
	//- 								span.u-visuallyHidden Ride
	//- 							th#driver.u-alignMiddle(scope='col')
	//- 			.span4 
	